*{margin:0px;padding:0px}


h1
{
    font-family:arial, verdana, helvetica, sans-serif;
    font-size:1.9em; 
    font-weight: bold;
    color:#333333;
    line-height:1.6em
}
	
p
{
    font-family:Verdana, Arial, helvetica, sans-serif;
    font-size:0.8em; 
    font-weight: normal;
    color:#333333;
    padding-left:5px;
    line-height:1.6em
}

.quote
{
    font-family:Verdana, Arial, helvetica, sans-serif;
    font-style: italic;
    margin-left:0px;
    padding-left:0px;
    padding-top:0px;
    line-height:1.6em;
    float:left;
}


.right
{
    background-color:black;
    float:right;
}



a
{
    color:#467AA7;
    font-size:0.9em; 
    font-weight:normal;
    font-style:normal;
    text-decoration:none;
}


a:link
{
    color:#467AA7;
    font-weight:normal;
    font-style:normal;
    text-decoration:none;
}


a:visited
{
    color:#467aa7;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
}


a:hover
{
    color:#ff6600; 
    font-style:normal;
    text-decoration:none;
}


/* Layout */
body
{
    margin: 0;
    padding:0;
    font-family: Verdana,'Lucida Grande', Verdana, Helvetica, sans-serif;
    background-image:  url(/images/bg.jpg);
    background-color:#FFFFFF;
    list-style:none;
}

#wrapper{
    background-color: #0B0F0C;
    height: 100px;
    width: 100%;
  /*  -moz-border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;*/
}

#header 
{
    width: 950px;
    margin: 0 auto;
}

#header .logo{
    float: left;
    margin-top: 10px;
    
}

#nav ul
{
    display:block;
    float:right;
    list-style:none;
    margin-top:45px;

}


#nav li
{
    float:left;
    margin-bottom:0px;
    padding-bottom:0px;
    padding-right:19px;
}


#nav ul li a
{
    float:left;
    display:block;
    margin-right:1px;
    padding-right:5px;
    padding-left:5px;
    padding-top:10px;
    padding-bottom:10px;
    color: #9a9a9a;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}


#nav  li a:hover
{
    background-color: #212723;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}


#nav .selected {
    background-color: #212723;
    width: 76px;
    text-align: center;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

#content 
{
    float:left;
    background-color:transparent;
    margin-top:0px;
    margin-bottom:0px;
    padding:10px;
    width:920px;
    border-bottom:5px solid #eaeaea;
}

#footer 
{
    height: 150px;
    background-color: #25ADE4;
    min-width: 100%;
    /*-moz-border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;*/
}

#footer p
{
    font-size: 0.7em;
    line-height:2.85em;
    font-family: arial;
    font-weight: normal;
    color: #FFFFFF;
    text-align: left;
}

#footer a 
{
    font-weight: normal;
    color: #000;
    text-align: center;
}

#footer a:hover 
{
    text-decoration: underline;
    font-weight: normal;
    color: #facd00;
    text-align: center;
}

#footer a:hover 
{
    text-decoration: underline;
    font-weight: normal;
    color: #facd00;
    text-align: center;
}

#footer h3{
    font-family: 'Courier New', Courier, monospace;
    padding: 25px 25px 10px 0;
}

a img { border: 0; }

/*---------content------------*/

#sapthagiri img{ float: left;padding-top: 63px; }

#main{
    margin: 27px auto;
    min-height: 460px;
    width: 960px;
}

#main p{
    color: #2F2F2F;
    padding-left: 20px;
    font-family:'Lucida Bright',Constantia,Georgia,Times,'Times New Roman',serif;
    font-size: 14px;
    line-height: 1.7em;
    text-align: justify;
}

#main h2{
    color: #25ADE4;
    font-size: 38px;
    /*font-family: Keffeesatz,Arial;*/
    font-style: inherit;
    line-height: 2em;
    text-align: inherit;
}

#main h3{
    color: #187396;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-style: inherit;
    line-height: 1.5em;
    padding-left: 15px;
}

#main h4{
    font-size: 0.8em;
    line-height:1.5em;
    font-family: arial;
    font-weight: normal;
    color: #CC6600;
    cursor: pointer;
    }
    
#main h5{
    color: #CC6600;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-style: inherit;
    line-height: 1.5em;
    padding-left: 15px;
}

#home{ min-height: 460px;text-align: justify; }


.home_text a{
    font-size: 38px;
    text-decoration: underline;
    color: #2F2F2F;
    cursor: pointer;
    text-transform: lowercase;
    font-weight: bold;
}

#about_me { min-height: 1000px; display: none; }

#about_me table{ padding-left: 20px; }
#about_me table p{ font-size: 14px; }
#about_me table h4{
    font-size: 0.8em;
    line-height:1.5em;
    font-family: arial;
    font-weight: normal;
    color: #000000;
    cursor: default;
}

#portfolio{ min-height: 1000px;display: none; }
#portfolio div{ min-height: 270px; }
#portfolio img{
    width: 250px;
    height: 150px;
    float: left;
    border: 1px solid #965118;
}

#blog{ min-height: 670px;display: none; }
#mail{ min-height: 460px;display: none; }
#mail h5{ color: #467AA7; }

#links{ float: left;margin-left: 200px; }
#links a{
    font-size: 14px;
    line-height:3em;
    font-family: arial;
    font-weight: normal;
    color: #FFFFFF;
}

.tweet{ margin-left: 450px; width: 500px; }
.tweet ul{
    list-style: none;
}
#links hr{ width: 100% }
#main hr{ width: 80%; }

#cp {
    background-color: #25ADE4;
    height: 40px;
    padding-top: 10px;
    min-width: 100%;
    /*-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;*/
}
#cp a{ color: #FFFFFF; } #cp p{ color: #FFFFFF; }

.title{ background-color: #A7DA7D;}
.title h3{color: #2F2F2F;}




