<div id="footer">
<div id="links" style="float: right;margin-right: 260px;">
  <h3>Networks</h3>
  <ul style="padding-left: 22px">
    <li><a href="http://www.twitter.com/saptha_giri" target="_blank"><img src="/images/twitter.png" alt="twitter" /> Twitter</a></li><hr/>
    <li><a href="http://www.facebook.com/#!/profile.php?ref=profile&id=100000139940626" target="_blank"><img src="/images/facebook.png" alt="facebook" /> Facebook</a></li><hr/>
    <li><a href="http://delicious.com/saptha_giri269" target="_blank"><img src="/images/delicious.png" alt="delicious" /> Delicious</a></li><hr/>
    <li><a href="http://www.flickr.com/photos/sapthagiri/" target="_blank"><img src="/images/flickr.png" alt="flickr" /> Flickr</a></li>  <hr/>
  </ul>  
</div>

<div id="tweets" style="float: left;margin-left: 150px;">
  <h3>Recent Tweets</h3> 
</div><br/>
<div id="cp" style="padding-top: 360px;">
  <p style="text-align: center;">Copyright &copy; sapthagiri269@gmail.com! All rights reserved.</p><br  />
  <p style="text-align: center;"><a href="http://saptha-giri.in" title="sapthagiri">All browsers &nbsp;|&nbsp; </a>
  <a href="#">CSS Valid &nbsp;|&nbsp; </a><a href="http://validator.w3.org/check/referer" target="_blank" title="XHTML Validity" style="text-decoration: none;">XHTML Valid &nbsp;| </a>
  <a href="#color" class="top">Top</a></p>
</div>

</div>
