<div id="footer">

  <div id="links">
    <h3>Networks</h3>
    <p><a href="http://www.twitter.com/saptha_giri" target="_blank"><img src="/images/twitter.png" alt="Sapthagiri on Twitter" /> Twitter</a></p><hr/>
    <p><a href="http://www.facebook.com/#!/profile.php?ref=profile&id=100000139940626" target="_blank"><img src="/images/facebook.png" alt="Sapthagiri on Facebook" /> Facebook</a></p><hr/>
    <p><a href="http://delicious.com/saptha_giri269" target="_blank"><img src="/images/delicious.png" alt="Sapthagiri on Delicious" /> Delicious</a></p><hr/>
    <p><a href="http://in.linkedin.com/pub/sapthakiri-b/17/845/476" target="_blank"><img src="/images/linkedin.png" alt="Sapthagiri on Linkedin" /> Linkedin</a></p><hr/>

    <p><a href="http://www.flickr.com/photos/sapthagiri/" target="_blank"><img src="/images/flickr.png" alt="flickr" /> Flickr</a></p>  <hr/>
  </div>
  
  <div id="tweets">
    <h3>Recent Tweets</h3> 
  </div>
  
</div><hr/>

<div id="cp">
  <p style="text-align: center;">Copyright &copy; Sapthagiri! All rights reserved.</p>
  <p style="text-align: center;"><a href="http://saptha-giri.in" title="sapthagiri">All browsers &nbsp;|&nbsp; </a>
  <a href="#">CSS Valid &nbsp;|&nbsp; </a><a href="http://validator.w3.org/check/referer" target="_blank" title="XHTML Validity" style="text-decoration: none;">XHTML Valid &nbsp;| </a>
  <a href="#color" class="top">Top</a></p>
</div>
