<div id="footer">
<div class="footer_content"></div>
  <div id="links">
    <h3>NETWORKS</h3>
    <p><a href="http://www.twitter.com/sapthakiri" target="_blank"><img src="/images/twitter.png" alt="Sapthakiri on Twitter" /> Twitter</a></p><hr/>
    <p><a href="http://www.facebook.com/sapthakiri" target="_blank"><img src="/images/facebook.png" alt="Sapthakiri on Facebook" /> Facebook</a></p><hr/>
    <p><a href="http://delicious.com/saptha_giri269" target="_blank"><img src="/images/delicious.png" alt="Sapthakiri on Delicious" /> Delicious</a></p><hr/>
    <p><a href="http://in.linkedin.com/pub/sapthakiri-b/17/845/476" target="_blank"><img src="/images/linkedin.png" alt="Sapthakiri on Linkedin" /> Linkedin</a></p><hr/>
    <p><a href="http://www.flickr.com/photos/sapthagiri/" target="_blank"><img src="/images/flickr.png" alt="Sapthakiri on flickr" /> Flickr</a></p>  <hr/>
  </div>

  <!--div class="tweet">
    <h3>RECENT TWEETS</h3>
  </div-->
 </div>  
</div><hr/>

<div id="cp">
  <p style="text-align: center;">Copyright &copy; Sapthakiri! All rights reserved.</p>
  <p style="text-align: center;"><a href="http://sapthakiri.com" title="sapthakiri">All browsers &nbsp;|&nbsp; </a>
  <a href="#">CSS Valid &nbsp;|&nbsp; </a><a href="http://validator.w3.org/check/referer" target="_blank" title="XHTML Validity" style="text-decoration: none;">XHTML Valid &nbsp;| </a>
  <a href="#color" class="top">Top</a></p>
</div>
