<div id="wrapper">
  <div id="header">
    <div class="logo">
      saptha-(g)iri<br/>
      <span>&lt;web developer /></span>
    </div>  
    <div id="nav">
      <ul class="menu">
        <li><a href="" class="selected">Home</a> </li>
        <li><a href="" class="about">About Me</a></li>
        <li><a href="" class="portfolio" >Portfolio</a></li>
        <li><a href="" class="blog">Blog</a></li>
        <li><a href="" class="contact">Contact</a></li>
        <li>  <%= link_to "Resume", {:controller => 'resume', :action => 'index'} %></li>
      </ul>
    </div>
  </div> 
</div> 

  