<div id="wrapper">
  <div id="header"><a href="index.htm"> 
    <div id="nav">
      <ul>
        <li><a href="index.htm" class="selected">Home</a> </li>
        <li><a href="index.htm">About Me</a></li>
        <li><a href="index.htm">Portfolio</a></li>
        <li><a href="index.htm">Blog</a></li>
        <li><a href="index.htm">Contact</a></li>
      </ul>
    </div> <!-- END NAV -->
  </div> <!-- END HEADER -->
</div> <!--END  WRAP --> 