<div id="wrapper">
  <div id="header">
    <div class="logo">
      <img src="/images/logo.jpg" />
    </div>  
    <div id="nav">
      <ul>
        <li><a href="#" class="selected">Home</a> </li>
        <li><a href="#">About Me</a></li>
        <li><a href="#" >Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div> <!-- END NAV -->
  </div> <!-- END HEADER -->
</div> <!--END  WRAP -->
<br/><br/><br/>

  