<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>SAPTHAKIRI.doc</title>
<style type="text/css">
body table
{
text-align: justify;

}
</style></head><body style="margin: 0pt; padding: 0pt;"></div><div style="margin: 1ex;">





<div>

  <a name="0.1_table01"></a>
<div align="center"><center>
<table cellspacing="0" width="603" >
<tbody><tr valign="top"><td><font face="Times New Roman" size="5"><b>SAPTHAKIRI 
  B</b></font></td>
  <td><font face="Times New Roman" size="2"><b>+91-9994811269 </b></font>
  </td>
  <td>&nbsp;</td></tr>
<tr valign="top"><td colspan="3"><font face="Times New Roman" size="2">Pondicherry 
  - India &nbsp;<br>
  <a href="mailto:sap@sapthakiri.com" target="_blank">sap@sapthakiri.com</a>&nbsp;<br>
  <a href="http://www.sapthakiri.com/" target="_blank">http://www.sapthakiri.com</a></font></td></tr>
</tbody></table>
</center></div>
<p><font color="#ffffff" face="Times New Roman" size="1">-</font></p>
<a name="0.1_table02"></a>
<div align="center"><center>
<table cellspacing="0" width="590">
<tbody><tr valign="top"><td colspan="2"><font face="Times New Roman" size="4"><b>SUMMARY&nbsp;</b></font></td>
  <td>&nbsp;</td></tr>
<tr valign="top"><td colspan="3"><ul type="disc">
    <li><font face="Times New Roman" size="2">I am a web (Ruby 
    on Rails) developer with 1+ years of experience. </font></li>
    <li><font face="Times New Roman" size="2">Good knowledge of 
    web development, from concept through implementation and optimization.</font></li>
    <li><font face="Times New Roman" size="2">Special concentration 
    in RoR application framework and Ruby language.</font></li>
    <li><font face="Times New Roman" size="2">An open source enthusiast.</font></li>
  </ul>
  </td></tr>
<tr valign="top"><td>&nbsp;<br><font face="Times New Roman" size="4"><b>RAILS 
  PROJECTS&nbsp;</b></font></td>
  <td colspan="2">&nbsp;</td></tr>
<tr valign="top"><td colspan="3"><font face="Times New Roman" size="2"><b>Wattbot</b>: 
  Wattbot is a web-based energy expert that simplifies the design, financing 
  and purchase of clean energy solutions automatically. It's a US based 
  energy advisor, recently launched its Public Beta in Los Angeles, San 
  Francisco, San Diego and&nbsp; New York.</font>
  <p><font face="Times New Roman" size="2"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  Project URL</b>: <a href="http://www.wattbot.com/" target="_blank">http://www.wattbot.com/</a></font></p>
  <p><font face="Times New Roman" size="2"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  Responsibilities</b>: </font></p>
  <ul>
  <ul type="disc">
    <li><font face="Times New Roman" size="2">Associated with 
    this project for the past one year.</font></li>
    <li><font face="Times New Roman" size="2">Developing, Testing 
    and maintaining wattbot.</font></li>
    <li><font face="Times New Roman" size="2">Using Ajax and jQuery 
    to create better UI.</font></li>
    <li><font face="Times New Roman" size="2">Clearing bugs and 
    submitting cross browser testing reports regularly.</font></li>
    <li><font face="Times New Roman" size="2">Consulting clients 
    to clarify details and implement information.</font></li>
  </ul>
  </ul>
  <p><font face="Times New Roman" size="2"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  Keywords</b>: Ruby, Ruby on Rails, MySQL, Ajax,&nbsp; jQuery Rspec, 
  Cucumber, Git</font></p>
  <p><font face="Times New Roman" size="2">&nbsp;<br>
  <b>Sapthakiri.com</b>: Is a single page website, which showcases my 
  portfolio and blog. This site is designed and developed by me in RoR 
  and jQuery.</font></p>
  <ul type="disc">
    <li><font face="Times New Roman" size="2"><b>Project URL</b>: 
    <a href="http://www.sapthakiri.com/" target="_blank">http://www.sapthakiri.com/</a></font></li>
    <li><font face="Times New Roman" size="2"><b>Keywords</b>: 
    Ruby on Rails, MySQL, jQuery, Heroku, Git</font></li>
  </ul>
  </td></tr>
</tbody></table>
</center></div>
<br/>
<div align="center"><center>
<table cellspacing="0" width="590">
<tbody><tr valign="top"><td colspan="2"><font face="Times New Roman" size="4"><b>WORK 
  EXPERIENCE</b></font></td></tr>
<tr valign="top"><td><font face="Times New Roman" size="2">Total Professional 
  Experience: 18 Months</font>
  <p><font face="Times New Roman" size="2">Total Relevant Experience: 
  12 Months</font>&nbsp;<br></p><td/></tr>
<tr valign="top"><td><font face="Times New Roman" size="3"><u>Sagework Software Pvt. Ltd.,</u></font><font face="Times New Roman" size="2">Pondicherry</font></td>
  <td><font face="Times New Roman" size="2"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Mar 2009 - Present</b></font></td></tr>
<tr valign="top"><td colspan="2"><font face="Times New Roman" size="2"><i>Software 
  Engineer</i></font></td></tr>
<tr valign="top"><td colspan="2"><ul type="disc">
    <li><font face="Times New Roman" size="2">Currently working 
    for the client <b>Wattbot - Clean Energy Advisor</b>, US based Energy 
    expert.</font></li>
    <li><font face="Times New Roman" size="2">Keywords: Ruby, 
    Ruby on Rails, MySQL, Ajax,&nbsp; jQuery Rspec, Cucumber, Git</font></li>
  </ul>
  <font color="#ffffff" face="Times New Roman" size="1">-</font></td></tr>
<tr valign="top"><td><font face="Times New Roman" size="3"><u>HCL Infosystems 
  Ltd.,</u></font><font face="Times New Roman" size="2">Pondicherry</font></td>
  <td><font face="Times New Roman" size="2"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Sep 2008 - Feb 2009</b></font></td></tr>
<tr valign="top"><td colspan="2"><font face="Times New Roman" size="2"><i>Certification 
  Engineer( Trainee)</i></font></td></tr>
<tr valign="top"><td colspan="2"><ul type="disc">
    <li><font face="Times New Roman" size="2">Evaluated and certified 
    all range of Intel and Non & Intel Servers, Desktops and Notebooks.</font></li>
    <li><font face="Times New Roman" size="2">Keywords: Linux, 
    Unix and Windows</font></li>
  </ul>
  <font color="#ffffff" face="Times New Roman" size="1">-</font></td></tr>
</tbody></table>
</center></div>
<p><font color="#ffffff" face="Times New Roman" size="1">-</font></p>
<a name="0.1_table04"></a>
<div align="center"><center>
<table cellspacing="0" width="8">
<tbody><tr valign="top"><td>&nbsp;</td></tr>
</tbody></table>
</center></div>

<div align="center"><center>
<table cellspacing="0" width="590">
<tbody><tr valign="top"><td>
  <div align="left">
  <table cellspacing="0" width="594">
  <tbody><tr valign="top"><td><font face="Times New Roman" size="4"><b>SOFTWARE 
    SKILLS</b></font></td></tr>
  <tr valign="top"><td colspan="2">
    <ul><font face="Times New Roman" size="2">Framework&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>&nbsp;&nbsp; 
    Rails 2.3.5, Microsoft .Net 2.0</font></ul>
    <ul><p><font face="Times New Roman" size="2">Development Tools&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    MS Visual Studio 2005, SQL Management Studio</font></p></ul>
    <ul><p><font face="Times New Roman" size="2">Languages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>&nbsp;&nbsp;&nbsp; 
    Ruby 1.8.7, VB .net, C, C++</font></p></ul>
    <ul><p><font face="Times New Roman" size="2">Scripting Languages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    JavaScript</font></p></ul>
    <ul><p><font face="Times New Roman" size="2">Markup Languages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    XHTML, CSS</font></p></ul>
    <ul><p><font face="Times New Roman" size="2">JavaScript Libraries&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    jQuery, Prototype</font></p></ul>
    <ul><p><font face="Times New Roman" size="2">RDBMS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp; MySQL, MS-SQL Server 2005</font></p></ul>
    <ul><p><font face="Times New Roman" size="2">Operating System&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    Windows, UNIX (SCO), Linux (Ubuntu)</font></p></ul>
    <ul><p><font face="Times New Roman" size="2">Version Control&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    GIT</font></p></ul>
    <ul><p><font face="Times New Roman" size="2">Testing&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    Rspec, Cucumber</font></p></ul>
    </td></tr>
  <tr valign="top"><td colspan="2">&nbsp;</td></tr>
  </tbody></table>
  </div>
  &nbsp;<br><font face="Times New Roman" size="4"><b>EDUCATION &amp; 
  RECENT TRAINING</b></font></td>
  <td>&nbsp;</td>
  <td>&nbsp;</td></tr>
<tr valign="top"><td colspan="2"><font face="Times New Roman" size="3"><u>Rajiv 
  Gandhi College of Engineering &amp; Technology</u></font><font face="Times New Roman" size="2">, 
  Pondicherry University, 2004 - 2008</font></td>
  <td>&nbsp;</td></tr>
<tr valign="top"><td colspan="2"><font face="Times New Roman" size="2"><i>B.Tech 
  in Electronics &amp; Communication 
   Engineering, (7.12/10) Grade Point Average</i></font></td>
  <td>&nbsp;</td></tr>
<tr valign="top"><td colspan="2"><font face="Times New Roman" size="3"><u>HCL 
  Career Development Center</u></font><font face="Times New Roman" size="2">, 
  Pondicherry, 2008</font></td>
  <td>&nbsp;</td></tr>
<tr valign="top"><td colspan="2"><font face="Times New Roman" size="2"><i>Dot 
  Net &amp; MS - SQL Server Certification, 78%</i></font>&nbsp;<br>
  <a name="0.1_table07"></a><br/><br/>
  <div align="left">
  <table cellspacing="0" width="594">
  <tbody><tr valign="top"><td><font face="Times New Roman" size="4"><b>OTHER 
    PROJECTS&nbsp;</b></font></td>
    <td>&nbsp;</td></tr>
  <tr valign="top"><td colspan="2"><ul type="disc">
      <li><font face="Times New Roman" size="2">Tested LINUX and 
      UNIX compatibility with all range of Intel and Non-Intel Notebooks, 
      Desktops &amp; Servers.</font></li>
      <li><font face="Times New Roman" size="2">Tested Energy Star 
      on Notebooks and Desktops for Energy efficiency and reduction.</font></li>
      <li><font face="Times New Roman" size="2">DATABASE MAINTAINENCE 
      OF A TRANSPORT DEPARTMENT is meant for maintaining database of a Transport 
      department. It is developed in VB .net and MS-SQL Server </font></li>
    </ul>
    </td></tr>
  </tbody></table>
  </div>
  &nbsp;<br>&nbsp;<br></td>
  <td>&nbsp;</td></tr>
</tbody></table>
</center></div>

<a name="0.1_table08"></a>
<div align="center"><center>
<table cellspacing="0" width="594">
<tbody><tr valign="top"><td><font face="Times New Roman" size="4"><b>CREDITS</b></font></td></tr>
<tr valign="top"><td colspan="2"><ul type="disc">
    <li><font face="Times New Roman" size="2">Recognized as a 
    core developer for Wattbot. My headshot has been published in wattbot 
    website -</font></li>
  </ul>
  <ul><font face="Times New Roman" size="2"><a href="http://www.wattbot.com/about/team" target="_blank">http://www.wattbot.com/about/<wbr>team</a> </font></ul>
  <ul type="disc">
    <li><font face="Times New Roman" size="2">Participated in 
    RubyConf 2010 - Bangalore, first ever ruby conference happened in 
    India. It features some of the core committers of ruby language.</font></li>
  </ul>
  <a name="0.1_table09"></a>
  <div align="left">
  <table cellspacing="0" width="594">
  <tbody><tr valign="top"><td>&nbsp;<br><font face="Times New Roman" size="4"><b>PERSONAL 
    PROFILE</b></font></td></tr>
  <tr valign="top"><td colspan="2">
    <ul><font face="Times New Roman" size="2">DOB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    : 28 - 06 - 1987</font></ul>
    <ul><p><font face="Times New Roman" size="2">ADDRESS&nbsp;  : 13, Mgr 
    Nagar, Nettapakkam,</font></p></ul>
    <ul><p><font face="Times New Roman" size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Pondicherry - 605106</font></p></ul>
    </td></tr>
  </tbody></table>
  </div>
  &nbsp;<br></td></tr>
</tbody></table>
</center></div>


</div>

</div></body></html>